/*** Hero Section ***/
.c-hero-section{
    height: 859px;
}

/*** Uitgebreid Section ***/ 
.c-uitgebreid-section {
    @media (max-width: 1260px) {
        padding-bottom: 0;
    }
}

.c-uitgebreid {
    @include justify-between;
    h2 {
        max-width: 387px;
        padding-right: 2rem;
        @media (max-width: 1260px) {
            margin-bottom: 2rem;
            max-width: 100%;
        }
    }
    .c-uitgebreid__container {
        max-width: 1002px;
        @media (max-width: 1260px) {
            max-width: 38.375rem;
        }
    }
}

/*** Een Section ***/ 
.c-een-section {
    @include linear-gradient;
    @media (max-width: 1260px) {
        margin-top: 4rem;
    }
}

.c-een {
    @include justify-between;
    .c-een__container {
        margin-top: 10.5rem;
        padding-left: 2rem;
        max-width: 678px;
        @media (max-width: 1260px) {
            margin-top: 4rem;
        }
    }
}


/*** Slider2 Section ***/
.c-slider2-section {
    @include linear-gradient;
    padding-bottom: 6.25rem;
}


/*** Steeds Section ***/ 
.c-steeds {
    @include justify-between;
    .c-steeds__container {
        margin-top: 8.75rem;
        padding-right: 2rem;
        @media (max-width: 1260px) {
            margin-top: 4rem;
        }
        p {
            max-width: 38.375rem;
        }
        button {
            margin-top: 3.625rem;
            @media (max-width: 1260px) {
                margin-bottom: 4rem;
            }
        }
    }
}


/*** Slider3 Section ***/
.c-slider3-section,
.overlay {
    min-height: 876px;
    @media(max-width: 1400px) {
        min-height: 920px;
    }
}

.c-slider3-section {
    background: url('../images/slider3-bkg.png');
    @include bkgImgSection-center;
    h2 {
        margin: 80px 0 41px 0;
    }
    .van-wauwe-img {
        position: absolute;
        bottom: -5rem;
        right: 12rem;
        z-index: 8;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(28, 27, 33, 0.92);
    background-blend-mode: multiply;
    z-index: 9;
}

.c-slider3 {
    z-index: 10;
    button {
        margin: 30px auto 0;
    }
}


/*** Contact Section ***/ 
.c-contact-section {
    h2 {
        margin-bottom: 1.875rem;
        color: var(--color-h-black);
    }
    button {
        margin: 3.125rem auto 0;
    }
}

.c-contact {
    @media(max-width: 1100px) {
        max-width: 60%;
        margin: 0 auto;
    }
}

.c-contact__container {
    background-color: #EDEFF8;
    padding: 30px;
    .c-contact__title {
        font-size: 1.75rem;
        margin-bottom: 44px;
    }
    .c-contact__address {
        margin-bottom: 20px;
        &:last-child {
            align-items: flex-start;
        }
        svg {
            margin-right: 15px;
        }
        h3, span, p {
            color: var(--color-gray);
        }
        h5 {
            font-weight: 500;
            font-size: 17px;
        }
        a {
            text-decoration: underline;
            color: var(--color-purple);
        }
    }
}


/*** News Section ***/
.c-news-section {
    background-color: var(--color-purple);
    padding: 5rem 0;
    h2 {
        margin-bottom: 1.875rem;
        @media(max-width: 1100px) {
            text-align: center;
        }
    }
    button {
        margin: 3.125rem auto 0;
    }
}

.c-news {
    @media(max-width: 1100px) {
        margin: 0 auto;
    }
}

.c-news__container {
    @media(max-width: 1100px) {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &:last-of-type {
        @media(max-width: 1100px) {
            margin-bottom: 0;
        }
    }
    h3, .news-date {
        margin-bottom: 0.75rem;
    }
    p {
        @media(max-width: 1100px) {
            max-width: 400px;
            text-align: center;
        }
    }
    .news-date {
        font-size: 0.8125rem;
        span:first-child {
            margin-right: 5px;
            padding: 2px 5px;
            color: var(--color-h-black);
            background-color: #EDEFF8;
        }
    }
    a {
        align-items: center;
        svg {
            margin-left: 10px;
        }
    }
}